body {
  background-color: #555555;  /* DURING DEVELOPMENT */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img {
  width: 300px;
  float: left;
}

#links {
  background-color: #037DBE;
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 5px;
  padding-right: 0;
}

nav {
  padding-top: 61px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* nav li {
  float: left;
  display: inline;
  margin-right: 15px;
  text-align: center;
  white-space: nowrap;
} */

nav a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 5%;
}

nav a:link {
  color: #ffffff;
}

nav a:visited {
  color: #551A8B;
}

nav a:hover {
  color: #111111;
}